<% content_for :vertical_nav do %>
<ul class="nav flex-column">
  <li class="nav-item mb-3">
    <%= button_to "Add a New Movie To Database", new_movie_path, :method => "get", class: "btn btn-dark btn-block" %>
  </li>
  <li class="nav-item">
    <%= button_to "Back to my Movieboxes", user_movieboxes_path(current_user), :method => "get", class: "btn btn-dark btn-block" %>
  </li>
</ul>
<% end %>

<% content_for :content do %>
  <%= render partial: "movies", locals: {movies: @movies} %>
<% end %>

<% content_for :sidebar do %>
<p>Browse By:
  <div class="btn-group" role="group">
    <%= button_to "Genre", genres_path, :method => "get", class: "btn btn-outline-secondary" %>
     </div>
      </p>
<% end %>