<% content_for :vertical_nav do %>
  <ul class="nav flex-column">
    <li class="nav-item mb-3">
      <%= button_to "Back to My Movieboxes", user_movieboxes_path(@user), :method => "get", class: "btn btn-dark btn-block" %>
    </li>
  </ul>
<% end %>

<% content_for :content do %>
  <strong>Email:</strong> <%= @user.email %><br>
  <strong>Name:</strong> <%= @user.username %><br>
<% end %>

<% content_for :sidebar do %>
  <%= button_to "Logout", logout_path, :method => "get", class: "btn btn-dark btn-block" %>
<% end %>