<!DOCTYPE html>
<html>
  <head>
    <title>MovieBox</title>
    <style>
body  {
  background-image: url(/assets/background.png/);
  
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  text-align: center;
  display: block;
  color: white;
  height: 100vh;
  
}
h2 {
  font-family: helvetica;
  letter-spacing:4px;
  font-size: 1em;
}
#background {
      
        padding-top: 35vh;
       
        color: white;
        text-align: center;
        height: 100vh;
      }
</style>
    
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>


<%= yield %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>